
<%- include("../partials/header")%>
<%- include("../partials/navbar")%>

<style>

    body{
        /* background-image: url("https://i.pinimg.com/736x/2c/ec/44/2cec44de15623339e1d59393486202c7.jpg"); */
        background-color: #ccdbfd;
    }
    .open-button {
  background-color: rgb(75, 130, 2);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 260px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

</style>


<main class="container" style="margin-top: 5rem;">
    
    <%- include("../partials/flash")%>

   <br>
     <!-- <section id="heading"> 

      <h5 class="display-4"><i class="fab fa-shopify" style="margin-right: 20px;"></i>SHOPPING ARENA</h5>

    </section> -->
    &nbsp;&nbsp;<h2>Our Basket</h2>
    <div class="row products">

        <%for(let product of products){
         if(product.qty>0){%>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card" >
                <img src="<%= product.img %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= product.name %></h5>
                  <p class="card-text"><%= product.desc.substring(0,70) %></p>
                  <a href="/products/<%= product._id %>" class="btn btn-outline-primary">View Product</a>
                </div>
            </div>
          </div>
        <%}}%>
     
    </div>




</div>
</main>


<button class="open-button" onclick="openForm()">Direct Fresh Support</button>

<div class="chat-popup" id="myForm">
  <form action="mailto:sanchitnarang611@gmail.com" method= "post" enctype="text/plain" class="form-container">
    <h4>How can we help you? </h1>

    <label for="msg"><b>Message</b></label>
    <textarea placeholder="Type message.." name="msg" required></textarea>

    <button type="submit" class="btn">Send</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>


<script>
  function openForm() {
    document.getElementById("myForm").style.display = "block";
  }
  
  function closeForm() {
    document.getElementById("myForm").style.display = "none";
  }
  </script>


    
<%- include("../partials/footer")%>
